# general
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

# legacy eclipse ignores of dubious use
/target/
/bin/
.metadata/
src/.classpath
src/.project
src/.settings/org.eclipse.jdt.core.prefs

# gradle
build
.gradle

# mac os
.DS_Store
